asgiref==3.7.2
astroid==3.0.2
certifi==2023.11.17
channels==4.0.0
charset-normalizer==3.3.2
coreapi==2.3.3
coreschema==0.0.4
dill==0.3.7
Django==4.2
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
drf-yasg==1.21.7
idna==3.6
inflection==0.5.1
isort==5.13.2
itypes==1.2.0
Jinja2==3.1.2
kafka-python==2.0.2
Markdown==3.5.1
MarkupSafe==2.1.3
mccabe==0.7.0
mysqlclient==2.1.1
packaging==23.2
Pillow==10.1.0
platformdirs==4.1.0
pylint==3.0.3
PyMySQL==1.1.0
pyparsing==3.1.1
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
sqlparse==0.4.4
tomlkit==0.12.3
uritemplate==4.1.1
urllib3==2.1.0